<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corona virus tracker</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1>Coronavirus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p>
<div class="jumbotron">
  <h1 class="display-4" th:text="${totalReportedCases}"></h1>
  <p class="lead">Total cases reported as of today</p>
  <p><a class="btn btn-primary btn-lg" href="https://www.worldometers.info/coronavirus/" role="button">Learn more</a></p>
</div>
<table class="table">
  <tr>
    <th>Country</th>
    <th>State</th>
    <th>Total cases reported</th>
  </tr>
  <tr th:each="locationStat : ${locationstats}">
    <td th:text="${locationStat.country}"></td>
    <td th:text="${locationStat.state}"></td>
    <td th:text="${locationStat.latestTotalCases}"></td>
</tr>
</table>
</div>
</body>
</html>